<!DOCTYPE html>
<html>
  <head>
    <title>Splurty</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="row">
        <div class="col-4 links left_link">
          <%= link_to 'Contribute', new_quote_path %>
        </div>
        <div class="col-4">
          <%= link_to root_path, class: 'logo' do %>
          <div class="circle">
            <div id="scratch">
              ScratcH!
            </div>
          </div>​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​
          <% end %>
        </div>
        <div class="col-4 links">
          <%= link_to 'About', '#' %>
      </div>
    </div>

      <div class="row">
        <div class="col-12 slogan" align="center">
          Keeping track of your favotire music quotes since 2019
        </div>
      </div>
    </header>
      <hr />

      <br class="clear" />
      <div class="container">
    <%= yield %>
  </div>

  <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <%= link_to "This isn't enough, i need more", root_path, class: 'next-quote' %>
          </div>
          <div class="col-6 footer-blurb">
            Proudly hacked by <a href="[YOUR_PORTFOLIO_URL]">[Your name here]</a><br />
            Want to build your own Splurty Web App - <a href='#'>Graphic Design</a>

          </div>
        </div>
      </div>
    </div>

  </body>
</html>
